.card {
  background-color: #15042e;
  box-shadow: 0px 4px 20px rgba(150, 101, 253, 0.5);
  border-radius: 12px;
  @apply flex
    rounded-2xl;

  .card-left-side {
    background-color: #460a75;
  }

  .time-card-wrapper {
    .time-card {
      width: 58px;
      height: 69px;
      background: #4e27a2;
      border-radius: 3px;
      font-weight: bold;
      font-size: 24px;
      line-height: 28px;
    }

    .time-card-type {
      font-size: 12px;
      line-height: 14px;
    }
  }
}
